.login-title {
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F9D315;
  text-shadow: 2px 2px black;
}

.login-image {
  box-shadow: 20px 35px #F9D315;
  background-color: red;
}

.login-img {
  width: 100%;
}

#contact-header {

  background: white;
  color: rgb(95, 95, 95);
  border: .5px solid #eeeeee;
}

.user-profile-title {
  color: #F9D315;
  text-shadow: 1px 2px black;
}

.you {
  background: #fce98d;
  color: black;
  font-weight: 500;
}

.other {
  background: #F9D315;
  color: black;
  font-weight: 500;
}

.scroll {
  height: 100vh;
  overflow: auto;
}

.empty-message {
  color: #041532;
}

.notif {
  position: relative;
}

.img-notif {
  max-width: 1.5rem;
}

.circle {
  width: .7rem;
  height: .7rem;
  background-color: #F9D315;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.notif-content {
  max-height: 8rem;
  overflow-y: scroll;
}

.btn-logout {
  cursor: pointer;
}

.contact-item {
  color: rgb(95, 95, 95);
  cursor: pointer;
  font-weight: 700;
}

.contact-item:hover {
  background: #fce98d;
  transition: all 300ms;
}

.contact-item:hover * {

  color: black;
}